<!DOCTYPE html>
<html>
<head>
    <title>HLM Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0-beta.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0-beta.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
</head>
<body>
    <div class="centered">
        <div id="mapbox"></div>

        <button id="menu-overlay-button" class="btn btn-dark" type="button">
            <svg aria-hidden="true" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                <rect width="24" height="1.5" fill=red ry="0.75" x="0" y="6.25" />
                <rect width="24" height="1.5" fill=red ry="0.75" x="0" y="11.25" />
                <rect width="24" height="1.5" fill=red ry="0.75" x="0" y="16.25" />
            </svg>
        </button>

        <object id="loader" data="{{ url_for('static', filename='svg/loader.svg') }}" type="image/svg+xml" 
        width="40" height="40" style="display: none;"></object>

        <div id="menu-overlay" class="overlay" data-visible="true">
            <div id="menu" class="pt-[70px] px-3">
                
                <div id="menu-clustering" class="text-lg">

                    <div id="cluster-settings-header" class="flex items-center border-b-[1px] border-gray-100 mb-2">
                        <h2 class="text-3xl font-semibold mr-2">
                            Regroupement
                        </h2>
                        <svg id="cluster-settings-icon-up" class="ms-2 hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <svg id="cluster-settings-icon-down" class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                        </svg>
                    </div>

                    <div id="cluster-settings" class="ps-2 hidden">
                        
                        <label class="flex items-center cursor-pointer">
                            <span class="me-2">Regrouper les HLMs</span>
                            <div class="relative">
                                <input id="cluster-switch" type="checkbox" value="" class="sr-only peer" checked>
                                <div class="w-9 h-5 bg-gray-400 rounded-full peer-checked:after:translate-x-full 
                                    peer-checked:after:border-white peer-checked:bg-blue-600
                                    after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white 
                                    after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all"></div>
                            </div>
                        </label>
                            
                        <div class="flex flex-col mt-2">
                            Regrouper par
                            <div class="ms-4 mt-1 text-base">

                                <div class="flex items-center mb-2">
                                    <input checked id="radio-cluster-by-mrc" type="radio" value="mrc" name="cluster-by" 
                                    class="h-4 w-4 peer border-blue-600 text-blue-600 focus:ring-blue-600 focus:ring-2 cursor-pointer
                                    disabled:text-gray-500 disabled:bg-gray-500 disabled:border-gray-500">
                                    <label for="radio-cluster-by-mrc" 
                                        class="block ms-2 cursor-pointer peer-disabled:text-gray-400">
                                        MRC (Municipalité régionale de comté)
                                    </label>
                                </div>

                                <div class="flex items-center mb-2">
                                    <input id="radio-cluster-by-sc" type="radio" value="sc" name="cluster-by" 
                                    class="h-4 w-4 peer border-blue-600 text-blue-600 focus:ring-blue-600 focus:ring-2 cursor-pointer
                                    disabled:text-gray-500 disabled:bg-gray-500 disabled:border-gray-500">
                                    <label for="radio-cluster-by-sc" 
                                        class="block ms-2 cursor-pointer peer-disabled:text-gray-400">
                                        Centre de Service
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col mt-2">
                            Type de marqueur
                            <div class="ms-4 mt-1 text-base">
                                <div class="flex items-center mb-2">
                                    <input  id="cluster-marker-type-pie" type="radio" value="pie" name="cluster-marker-type" 
                                    class="h-4 w-4 peer border-blue-600 text-blue-600 focus:ring-blue-600 focus:ring-2 cursor-pointer
                                    disabled:text-gray-500 disabled:bg-gray-500 disabled:border-gray-500">
                                    <label for="cluster-marker-type-pie" 
                                        class="block ms-2 cursor-pointer peer-disabled:text-gray-400">
                                        Circulaire
                                    </label>
                                </div>
                                <div class="flex items-center mb-2">
                                    <input checked id="cluster-marker-type-box" type="radio" value="box" name="cluster-marker-type" 
                                    class="h-4 w-4 peer border-blue-600 text-blue-600 focus:ring-blue-600 focus:ring-2 cursor-pointer
                                    disabled:text-gray-500 disabled:bg-gray-500 disabled:border-gray-500">
                                    <label for="cluster-marker-type-box" 
                                        class="block ms-2 cursor-pointer peer-disabled:text-gray-400">
                                        Rectangulaire
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col mt-2">
                            Valeurs
                            <div class="ms-4 mt-1 text-base">
                                <div class="flex items-center mb-2">
                                    <input checked id="radio-cluster-value-dwellings" type="radio" value="dwellings" name="cluster-value" 
                                    class="h-4 w-4 peer border-blue-600 text-blue-600 focus:ring-blue-600 focus:ring-2 cursor-pointer
                                    disabled:text-gray-500 disabled:bg-gray-500 disabled:border-gray-500">
                                    <label for="radio-cluster-value-dwellings" 
                                        class="block ms-2 cursor-pointer peer-disabled:text-gray-400">
                                        Nombre d'habitations
                                    </label>
                                </div>
                                <div class="flex items-center mb-2">
                                    <input id="radio-cluster-value-hlms" type="radio" value="hlms" name="cluster-value" 
                                    class="h-4 w-4 peer border-blue-600 text-blue-600 focus:ring-blue-600 focus:ring-2 cursor-pointer
                                    disabled:text-gray-500 disabled:bg-gray-500 disabled:border-gray-500">
                                    <label for="radio-cluster-value-hlms" 
                                        class="block ms-2 cursor-pointer peer-disabled:text-gray-400">
                                        Nombre de HLMs
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div id="menu-filters" class="text-lg">

                    <div id="filter-settings-header" class="flex items-center mb-2 border-b-[1px] border-gray-100">
                        <h2 class="text-3xl font-semibold mr-2">
                            Filtres
                        </h2>
                        <svg id="filter-settings-icon-up" class="ms-2 hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <svg id="filter-settings-icon-down" class="ms-2 " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                        </svg>
                    </div>

                    <div id="filter-settings" class="ps-2">
                        <div>
                            <div id="mrc-filter" class="flex items-center justify-between w-full border-b-[1px] border-gray-400 mb-2">
                                <div class="flex items-center">
                                    MRC
                                    <svg id="mrc-filter-icon-up" class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    <svg id="mrc-filter-icon-down" class="ms-2 hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div id="mrc-filter-buttons" class="flex flex-wrap  gap-1 mb-2">
                                <div class="flex w-full items-end mb-2 gap-6">
                                    <div class="ps-1">   
                                        <div class="relative border-b-[1px] border-gray-400">
                                            <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none">
                                                <svg class="w-4 h-4 text-gray-400 " aria-hidden="true" fill="none" viewBox="0 0 20 20">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                                </svg>
                                            </div>
                                            <input id="search-mrc" type="text" autocomplete="off"
                                                class="block py-2 ps-5 w-full bg-transparent border-0 appearance-none
                                                focus:outline-none focus:ring-0 focus:text-gray-50 peer" 
                                                placeholder="Search...">
                                        </div>
                                    </div>
                                    <div id="mrc-filter-select-all" data-target-id="mrc-filter-buttons" data-category="mrc" 
                                        class="w-fit cursor-pointer text-sm text-blue-200 hover:text-blue-400 pt-1 pb-2 px-1 ms-2 hover:border-blue-200"> 
                                        Select all
                                    </div>
                                </div>
                                <!-- Place holder for all the MRC filter buttons, created in map.js -->
                            </div>
                        </div>
                        <div>
                            <div id="sc-filter" class="flex items-center border-b-[1px] border-gray-400 mb-2">
                                Service Center
                                <svg id="sc-filter-icon-up" class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <svg id="sc-filter-icon-down" class="ms-2 hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                                </svg>
                            </div>
                            <div id="sc-filter-buttons" class="flex flex-wrap hidden gap-1 mb-2">
                                <div class="flex w-full items-end mb-2 gap-6">
                                    <div class="ps-1">   
                                        <div class="relative border-b-[1px] border-gray-400">
                                            <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none">
                                                <svg class="w-4 h-4 text-gray-400 " aria-hidden="true" fill="none" viewBox="0 0 20 20">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                                </svg>
                                            </div>
                                            <input id="search-sc" type="text" autocomplete="off"
                                            class="block py-2 ps-5 w-full bg-transparent border-0 appearance-none
                                            focus:outline-none focus:ring-0 focus:text-gray-50 peer" 
                                                placeholder="Search...">
                                        </div>
                                    </div>
                                    <div id="sc-filter-select-all" data-target-id="sc-filter-buttons" data-category="sc" class="w-fit cursor-pointer text-sm text-blue-200 hover:text-blue-400 pt-1 pb-2 px-1 pe-3 hover:border-blue-200"> 
                                    Select all
                                    </div>
                                </div>
                                <!-- Place holder for all the Serice Center filter buttons, created in map.js -->
                            </div>
                        </div>

                        <div class="flex items-center mb-2">
                            Indice d'État 
                            <a class="pb-2 ps-2 relative top-1" type="button" target="_blank" 
                                href="http://www.habitation.gouv.qc.ca/fileadmin/internet/documents/partenaires/guides/guide-immeuble-supplement1-section02.pdf#page=14">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </a>
                        </div>

                        <div id="disrepair-buttons" class="gap-2 mb-3">
                            <button class="">
                                <input id="button-disrepair-A" type="checkbox" value="A" class="peer hidden" checked>
                                <label for="button-disrepair-A" class="flex justify-center text-center items-center select-none cursor-pointer
                                aspect-square w-[36px] rounded-md border-2 bg-gray-500 border-gray-500 text-gray-100 
                                 hover:bg-gray-600 hover:border-gray-600 transition-colors duration-200 ease-in-out 
                                peer-checked:bg-[#198754] peer-checked:text-gray-50 peer-checked:border-[#198754]
                                peer-checked:hover:bg-[#285d44] peer-checked:hover:border-[#285d44]"> 
                                A</label>
                            </button>
                            <button>
                                <input id="button-disrepair-B" type="checkbox" value="B" class="peer hidden" checked>
                                <label for="button-disrepair-B" class="flex justify-center text-center items-center select-none cursor-pointer 
                                aspect-square w-[36px] rounded-md border-2 bg-gray-500 border-gray-500 text-gray-100 
                                 hover:bg-gray-600 hover:border-gray-600 transition-colors duration-200 ease-in-out 
                                peer-checked:bg-[#b1ce3c] peer-checked:text-gray-50 peer-checked:border-[#b1ce3c]
                                peer-checked:hover:bg-[#9aae4c] peer-checked:hover:border-[#9aae4c]"> 
                                B</label>
                            </button>
                            <button>
                                <input id="button-disrepair-C" type="checkbox" value="C" class="peer hidden" checked>
                                <label for="button-disrepair-C" class="flex justify-center text-center items-center select-none cursor-pointer 
                                aspect-square w-[36px] rounded-md border-2 bg-gray-500 border-gray-500 text-gray-100 
                                 hover:bg-gray-600 hover:border-gray-600 transition-colors duration-200 ease-in-out 
                                peer-checked:bg-[#ffd147] peer-checked:text-gray-50 peer-checked:border-[#ffd147]
                                peer-checked:hover:bg-[#eeba5a] peer-checked:hover:border-[#eeba5a]"> 
                                C</label>
                            </button>
                            <button>
                                <input id="button-disrepair-D" type="checkbox" value="D" class="peer hidden" checked>
                                <label for="button-disrepair-D" class="flex justify-center text-center items-center select-none cursor-pointer 
                                aspect-square w-[36px] rounded-md border-2 bg-gray-500 border-gray-500 text-gray-100 
                                 hover:bg-gray-600 hover:border-gray-600 transition-colors duration-200 ease-in-out 
                                peer-checked:bg-[#E86430] peer-checked:text-gray-50 peer-checked:border-[#E86430]
                                peer-checked:hover:bg-[#b54d24] peer-checked:hover:border-[#b54d24]"> 
                                D</label>
                            </button>
                            <button>
                                <input id="button-disrepair-E" type="checkbox" value="E" class="peer hidden" checked>
                                <label for="button-disrepair-E" class="flex justify-center text-center items-center select-none cursor-pointer 
                                aspect-square w-[36px] rounded-md border-2 bg-gray-500 border-gray-500 text-gray-100 
                                 hover:bg-gray-600 hover:border-gray-600 transition-colors duration-200 ease-in-out 
                                peer-checked:bg-[#de2235] peer-checked:text-gray-50 peer-checked:border-[#de2235]
                                peer-checked:hover:bg-[#b93341] peer-checked:hover:border-[#b93341]"> 
                                E</label>
                            </button>
                        
                        </div>

                        <div class="mb-2">
                            Nombre d'Habitations
                        </div>
                        <range-selector 
                            id="dwellings-range-slider"
                            min-range="{{ dwellings_min }}" 
                            max-range="{{ dwellings_max }}" 
                            slider-color="#6b5b95"
                            number-of-legend-items-to-show="2"
                            inputs-for-labels>
                        </range-selector>
                    </div>
                </div>
            </div>
        </div>
        
        <div id='info-overlay' class="overlay"></div>
        <!-- <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script> -->
        <script src="{{ url_for('static', filename='scripts/constants.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/map.js') }}"
            data-mapbox-token="{{ mapbox_token }}"
            data-fetch-lots-url="{{ url_for('get_lots') }}"
            data-fetch-lot-info-url="{{ url_for('lot_info') }}"
            data-data-folder="{{ url_for('static', filename='data/') }}"
            data-ivp-range-min="{{ ivp_min }}"
            data-ivp-range-max="{{ ivp_max }}"
            data-dwellings-range-min="{{ dwellings_min }}" 
            data-dwellings-range-max="{{ dwellings_max }}" 
        ></script>
        <script src="{{ url_for('static', filename='scripts/page.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/simpleRange.min.js') }}"></script>
    </div>
  </body>
</html>