<!DOCTYPE html>
<html>
<head>
    <title>HLM Explore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0-beta.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0-beta.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="centered">
        <div id="mapbox"></div>

        <button id="menu-overlay-button" class="btn btn-dark" type="button">
            <svg aria-hidden="true" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                <rect width="24" height="1.5" fill=red ry="0.75" x="0" y="6.25" />
                <rect width="24" height="1.5" fill=red ry="0.75" x="0" y="11.25" />
                <rect width="24" height="1.5" fill=red ry="0.75" x="0" y="16.25" />
            </svg>
        </button>

        <div id="menu-overlay" class="overlay" data-visible="false">
            <div id="menu">

                <div class="filter-section-header">
                    Disrepair State
                </div>

                <div class="d-inline-flex gap-2 mb-3">
                    <button id="button-disrepair-A" data-value="A" type="button" class="btn button-disrepair button-disrepair-A active" data-bs-toggle="button" aria-pressed="true">A</button>
                    <button id="button-disrepair-B" data-value="B" type="button" class="btn button-disrepair button-disrepair-B active" data-bs-toggle="button" aria-pressed="true">B</button>
                    <button id="button-disrepair-C" data-value="C" type="button" class="btn button-disrepair button-disrepair-C active" data-bs-toggle="button" aria-pressed="true">C</button>
                    <button id="button-disrepair-D" data-value="D" type="button" class="btn button-disrepair button-disrepair-D active" data-bs-toggle="button" aria-pressed="true">D</button>
                    <button id="button-disrepair-E" data-value="E" type="button" class="btn button-disrepair button-disrepair-E active" data-bs-toggle="button" aria-pressed="true">E</button>
                </div>

                
                <div>
                    <div class="filter-section-header">
                        <label for="cluster-range-slider">Clustering</label>
                    </div>

                    <div class="d-flex mb-2" style="font-size: 18px;">
                        Cluster
                        <div class="form-check form-switch ms-3">
                            <input id="clusterSwitch" class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </div>

                    <div>
                        <div style="font-size: 18px;">
                            <label for="cluster-range-slider">Clustering Radius</label>
                        </div>
                        <input type="range" class="form-range" id="cluster-range-slider" 
                            min="20" max="80" value="60" step="10">
                        <div class="d-flex justify-content-between">
                            <p>20</p>
                            <p>80</p>
                        </div>
                    </div>

                </div>

                


                <div class="filter-section-header">
                    Number of Dwellings
                </div>
                <range-selector 
                    id="dwellings-range-slider"
                    min-range="{{ dwellings_min }}" 
                    max-range="{{ dwellings_max }}" 
                    slider-color="#6b5b95"
                    number-of-legend-items-to-show="2"
                    inputs-for-labels>
                </range-selector>

                <!-- <button id="filter-submit" class="btn btn-light" type="submit">
                    Update
                </button> -->
            </div>
        </div>
        
        <div id='info-overlay' class="overlay"></div>

        <script src="{{ url_for('static', filename='scripts/map.js') }}"
            data-mapbox-token="{{ mapbox_token }}"
            data-fetch-lots-url="{{ url_for('get_lots') }}"
            data-fetch-lot-info-url="{{ url_for('lot_info') }}"
            data-data-folder="{{ url_for('static', filename='data/') }}"
            data-ivp-range-min="{{ ivp_min }}"
            data-ivp-range-max="{{ ivp_max }}"
            data-dwellings-range-min="{{ dwellings_min }}" 
            data-dwellings-range-max="{{ dwellings_max }}" 
        ></script>
        <script src="{{ url_for('static', filename='scripts/page.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/simpleRange.min.js') }}"></script>
    </div>
  </body>
</html>