<!DOCTYPE html>
<html>
<head>
    <title>Show Lots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0-beta.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0-beta.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
</head>
<body>
    <div class="centered">
        <div id="mapbox"></div>
        <!-- <div id="dev-info" class="overlay">
            <div id="bounds_indicator"></div>
        </div> -->
        <div id='info-overlay' class="overlay" style="display: flex;">
            <div id="zoom_indicator"></div>
            <div class="select">
                <div>Map Type</div>
            </div>
            <div class="select">
                <div>Layer Select</div>
                <div id="data-layer-select">
                    <input id="hlms" type="radio" name="data-select" value="hlms" checked="checked">
                    <label for="hlms">HLMs</label>
                </div>
            </div>
            <div id="#lot-info">
            </div>
            <div id="hlm-info">

            </div>
        </div>
        <object id="loader" data="{{ url_for('static', filename='svg/loader.svg') }}" type="image/svg+xml" 
            width="40" height="40" style="display: none;"></object>

        <script>
        const lastRenderedBounds = {bounds: null};
        var hoveredLotId = null;
        var clickedLotId = null;

        document.addEventListener("DOMContentLoaded", () => {

        mapboxgl.accessToken = "{{ mapbox_token }}";

        map = new mapboxgl.Map({
            container: 'mapbox',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [-72.55424486768713, 46.772195471242426], // starting position [lng, lat]
            zoom: 12,
            maxZoom: 19,
            projection: 'globe',
            hash: true
        });

        document.map = map;


        // Add the control to the map.
        map.addControl(
            // https://github.com/mapbox/mapbox-gl-geocoder/blob/main/API.md#mapboxgeocoder
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl,
                proximity: true,
            })
        );

        
        const lot_data = JSON.parse('{{ lot | tojson | safe}}');
        
        map.on('load', () => {
            if (map.getStyle().name === 'Mapbox Streets') {
                // Hide some layers in the streets-v12 map to unclutter
                map.removeLayer('poi-label');
                map.removeLayer('road-path');
                map.removeLayer('road-path-bg');
                map.removeLayer('crosswalks');
                map.removeLayer('road-oneway-arrow-blue');
                map.removeLayer('road-oneway-arrow-white');
                map.removeLayer('road-number-shield');
                map.removeLayer('road-exit-shield');
            }

            // If no lot given
            if (!lot_data) return;

            map.addSource("lots", {
                type: "geojson",
                data: lot_data,
                generateId: true
            });
    
            // Render the layer
            map.addLayer({
                id: "lots_layer",
                type: "fill",
                source: "lots",
                paint: {
                    'fill-color': '#0f0',
                    'fill-opacity': 0.35
                }
            });
    
            map.flyTo({
                center: map.getSource('lots')._data.features[0].geometry.coordinates[0][0][0],
                zoom: 16,
            })
        });

        map.on('click', (e) => {
            
            const coords = JSON.stringify(e.lngLat.wrap());
            console.debug(e.lngLat.lng, e.lngLat.lat);

            fetch('/get_lot', {
                method: 'POST',
                body: coords,
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(resp => resp.json())
            .then(data => {

                console.debug(data.features[0].properties);

                if (map.getLayer('lots_layer')) map.removeLayer('lots_layer');
                if (map.getLayer('lots_label')) map.removeLayer('lots_label');
                if (map.getSource('lots')) map.removeSource('lots');
                
                map.addSource("lots", {
                    type: "geojson",
                    data: data,
                    generateId: true
                });
                // Render the layer
                map.addLayer({
                    id: "lots_layer",
                    type: "fill",
                    source: "lots",
                    paint: {
                        "fill-color": '#0f0',
                        'fill-opacity': 0.35
                    }
                });
                // Render the layer
                map.addLayer({
                    id: "lots_label",
                    type: "symbol",
                    source: "lots",
                    layout: {
                        "text-field": ["get", "id"],
                        "text-allow-overlap": true,
                    },
                });
            

                map.on("click", "lots_layer", lotClickHandler);
                // When the user moves their mouse over the layer, we'll update the
                map.on("mousemove", "lots_layer", (e) => {
                    map.getCanvas().style.cursor = 'pointer';
                    if (e.features.length > 0) {
                        if (hoveredLotId !== null) {
                            map.setFeatureState(
                                { source: "lots", id: hoveredLotId },
                                { hover: false }
                            );
                        }
                        hoveredLotId = e.features[0].id;
                        map.setFeatureState(
                            { source: "lots", id: hoveredLotId },
                            { hover: true }
                        );
                    }
                });
        
                map.on("mouseleave", "lots_layer", () => {
                    map.getCanvas().style.cursor = '';
                    if (hoveredLotId !== null) {
                        map.setFeatureState(
                            { source: "lots", id: hoveredLotId },
                            { hover: false }
                        );
                    }
                    hoveredLotId = null;
                });
                map.flyTo({
                    center: e.lngLat,
                    zoom: map.getZoom()
                });
            });
        });
        
        });

        const lotClickHandler = (e) => {
            // e is of type Mapbox::MapMouseEvent
            e.originalEvent.stopPropagation();

            // Toggle styles on the lot to shows it's selected
            if (e.features.length > 0) {
                if (clickedLotId !== null) {
                    map.setFeatureState(
                        { source: "lots", id: clickedLotId },
                        { clicked: false }
                    );
                }
                clickedLotId = e.features[0].id;
                map.setFeatureState(
                    { source: "lots", id: clickedLotId },
                    { clicked: true }
                );
            }

            const evalUnitId = e.features[0].properties.id;
            triggerHLMOverlay(evalUnitId, e.lngLat);
        }

        async function triggerHLMOverlay(evalUnitId, centerLngLat) {
            const overlayElement = document.getElementById('info-overlay');
            const overlayHTMLContent = await fetch(
                "/lot_info_no_hlm", {
                    method: "POST",
                    headers: { "Content-Type": "application/json", },
                    body: JSON.stringify({ id: evalUnitId }),
                })
                // Text instead of JSON because we're getting the rendered HTML from the server
                .then(response => response.text());
            
            overlayElement.innerHTML = overlayHTMLContent;

            // Execute all scripts contained within the HTML
            var scripts = overlayElement.querySelectorAll("script");
            for (var i = 0; i < scripts.length; i++) {
                if (scripts[i].innerText) {
                eval(scripts[i].innerText);
            }}

            overlayElement.setAttribute('data-visible', true);
            // Hide the menu if it is currently visible
            document.getElementById('menu-overlay-button').setAttribute('aria-pressed', false);
            document.getElementById('menu-overlay').setAttribute('data-visible', false);
            
            if (map.getZoom() >= 16.5) return;

            // Quick Maff to position the lot in the middle of screen space
            // left over after showing the overlay. 
            // Semi complicated because we have to give an offset from the center.
            const mapWidth = map._containerWidth;
            const overlayWidth = overlayElement.offsetWidth;
            const remainingWidth = mapWidth - overlayWidth

            const isOverlayLargerThanHalfScreen = (0.5 * map._containerWidth) < overlayWidth;
            const deltaOffset = Math.abs((0.5 * mapWidth) - overlayWidth)
            
            const offset = isOverlayLargerThanHalfScreen ?
                0.5 * (remainingWidth + deltaOffset) :
                (0.5 * remainingWidth) - deltaOffset;

            map.easeTo({
                duration: 1000,
                center: centerLngLat,
                zoom: map.getZoom() < HLM_OVERLAY_EASE_TO_ZOOM ? HLM_OVERLAY_EASE_TO_ZOOM : map.getZoom(),
                offset: [-offset, 0] // Offset is negative to move left from center
            })
}

        </script>

    </div>
  </body>
</html>